{% extends 'setter/base.html' %}

{% block css_content %}
{% load static %}
<link rel="stylesheet" href="{% static 'setter/assignments.css' %}">
{% endblock css_content %}

{% block content %}
<div class="row">

    <!------------------------------------------------- SIDEBAR ----------------------------------------------------->
    <!--------------------------------------------------------------------------------------------------------------->

    <div class="col-sm-4 bg-dark text-light pt-2" id="sidebar">
        {% for assignment in all_assignments %}
        <div class="row">
            <a href="{% url 'setter:assignment-id' assignment.id %}"
                class="nav-link lead text-primary text-start col-md-10 px-2">
                <span class="ms-1 {% if this_assignment == assignment %}border-bottom{% endif %}">
                    {{ assignment.title }}</span></a>
            <a href="#rename-assignment-{{ assignment.id }}" data-bs-toggle="modal"
                data-bs-target="#rename-assignment-{{ assignment.id }}"
                class="col-md-2 d-flex justify-content-center align-items-center"><i class="bi bi-pen"></i></a>
        </div>

        <div class="modal fade text-dark" id="rename-assignment-{{ assignment.id }}" tabindex="-1"
            aria-labelledby="rename-assignment-{{ assignment.id }}-label" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="rename-assignment-{{ assignment.id }}-label">Rename Assignment</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form role="form" method="POST" action="{% url 'setter:rename-assignment' assignment.id %}">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <label class="control-label">Enter new name for the assignment '{{ assignment.title }}'
                                </label>
                                <input type="text" class="form-control input-lg" name="assignment-name"
                                    value="{{ assignment.title }}">
                            </div>
                            <div class="mt-3 text-end">
                                <button type="button" class="btn btn-secondary float-right"
                                    data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Rename assignment</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}

        <!-- {% for i in '0123412412221141'|make_list %}
        <div class="row">
            <a href="#" class="nav-link lead text-primary text-start col-md-10 px-2">
                <span class="ms-1">Assignment title</span></a>
            <a href="#" class="col-md-2 d-flex justify-content-center align-items-center"><i class="bi bi-pen"></i></a>
        </div>
        {% endfor %} -->
    </div>

    <div id="sidebar-buttons" class="bg-dark">
        <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-assignment">
            <span class="ms-1">Add Assignment</span>
        </a>
        <a href="#" class="btn btn-danger {% if this_assignment == None %} disabled {% endif %}" data-bs-toggle="modal"
            data-bs-target="#delete-assignment"> <span class=" ms-1">Delete Assignment</span>
        </a>
    </div>

    <!-- Add assignment modal -->
    <div class="modal fade" id="add-assignment" tabindex="-1" aria-labelledby="add-assignment-label" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="add-assignment-label">Add Assignment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form role="form" method="POST" action="{% url 'setter:add-assignment' %}">
                        {% csrf_token %}
                        <div class="form-group mb-3">
                            <label class="control-label">Enter name of the assignment</label>
                            <input type="text" class="form-control input-lg" name="assignment-name" value="">
                        </div>
                        <div class="mt-3 text-end">
                            <button type="button" class="btn btn-secondary float-right"
                                data-bs-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-primary">Add assignment</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Delete assignment Modal -->
    <div class="modal fade" role="dialog" id="delete-assignment" tabindex="-1" aria-labelledby="delete-assignment-label"
        aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-assignment-label">Delete Assignment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">Are you sure you want to delete the assignment '{{ this_assignment.title }}'
                    and
                    all its
                    questions? </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="{% if this_assignment != None %} {% url 'setter:delete-assignment' this_assignment.id %} {% else%} # {% endif %}"
                        class="btn btn-danger button">Delete Assignment</a>
                </div>
            </div>
        </div>
    </div>

</div>

<!------------------------------------------------- CONTENT ----------------------------------------------------->
<!--------------------------------------------------------------------------------------------------------------->

<div class="col-sm-4" id="questions">

    <!-- Messages -->
    {% include 'setter/messages.html' %}

    <!-- Instructions -->
    <!-- {% if questions|length == 0 and this_assignment == None %}
    <div id="instructions" class="container m-5 border-2">
        <h2 id="header" class="text-decoration-underline">Instructions for setting assignments</h2>
        <ul id="body" class="mt-4">
            <li> Click "Add Assignment" and type in the assignment's name. </li>
            <li> Click on an assignment in the sidebar (left pane) to select it.</li>
            <li> Selecting an assignment activates the "Add question" button.</li>
            <li> Question cards for each assignment will be shown in this space.</li>
            <li> Click on the question cards to see more options (Edit, Delete,..) </li>
            <li> Select an assignment and click on "Delete Assignment" to delete it. </li>
            <li> To see the instructions again, click on "Assignments" on the navbar. </li>
        </ul>
    </div>
    {% endif %} -->

    {% for question in questions %}
    <div class="card mt-3 mx-2">
        <div class="card-body">
            <h5 class="card-title">{{ question.title }}<a class="question-link stretched-link" href="#"
                    data-bs-toggle="modal" data-bs-target="#question-modal-{{ question.id }}"></a></h5>
            <p class="card-text">{{ question.tag_line }}</p>
        </div>
    </div>

    <div class="modal fade" id="question-modal-{{ question.id }}" tabindex="-1"
        aria-labelledby="question-modal-{{ question.id }}-label" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header flex-wrap pb-2">
                    <h5 class="modal-title" id="question-modal-{{ question.id }}-label">{{ question.title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

                    <!-- Line breaking from flex container -->
                    <div class="break"></div>
                    <p class="my-1">{{ question.tag_line }}</p>
                </div>
                <div class="modal-body py-0">
                    <p>{{ question.description|safe }}</p>
                </div>
                <div class="modal-footer">
                    <a href="{% url 'setter:edit-question' question.id %}" class="btn btn-primary button">Edit
                        Question</a>
                    <button type="button" class="btn btn-danger" data-bs-target="#delete-confirm" data-bs-toggle="modal"
                        data-bs-dismiss="modal">Delete Question</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete-confirm" aria-hidden="true" aria-labelledby="delete-confirm-label" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="delete-confirm-label">Delete Question Confirmation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete the question '{{ question.title }}'?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a href="{% url 'setter:delete-question' question.id %}" class="btn btn-danger button">Confirm</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<!-- Rounded plus button -->
<!-- <a href="{% if this_assignment != None %}{% url 'setter:add-question' this_assignment.id %}{% else %}#{% endif %}"
    name="add-question" class="btn float-btn-plus {% if this_assignment == None %}disabled{% endif %}">
    <i class="bi bi-plus-circle-fill tooltip-test" title="Add question"></i>
</a> -->

<a href="{% if this_assignment != None %}{% url 'setter:add-question' this_assignment.id %}{% else %}#{% endif %}"
    name="add-question"
    class="btn btn-primary btn-rounded float-btn-pill {% if this_assignment == None %}disabled{% endif %}">
    Add question</a>

</div>
{% endblock content %}