{% extends 'setter/base.html' %}
{% block content %}

<ul>
    <li>
        <h3>Question form - have fields in bootstrap grid</h3>
    </li>
    <li>
        <h3>Warning messages</h3>
    </li>
    <li>
        <h3>Delete question - are you sure (2nd modal) -> btsrp 5 docs has this</h3>
    </li>
    <li>
        <h3>On all assignments page, show instructions</h3>
    </li>
    <li>
        <h3>Branding logo</h3>
    </li>
    <li>
        <h3>Class based views (extend existing)</h3>
    </li>
</ul>

{% endblock content %}