{% extends 'setter/base.html' %}

{% block content %}
{% include 'setter/messages.html' %}

<div class="container">

    <h3 style="text-decoration: line-through">1. Assignment save validation handling</h3>
    <h3 style="text-decoration: line-through">2. Undo functionality for delete assignment</h3>
    <h3>6. Assignment title can be long but we truncate... </h3>
    <h3>3. Undo functionality for delete question</h3>
    <h3 style="color:red;">5. Back button in question form </h3>

</div>

{% endblock content %}