<style>
    #alert-container {
        position: fixed;
        text-align: center;
        width: 30%;
        top: 60px;
        left: 50%;
        /* Adjusted for 30% width */
        transform: translate(-17%, 0);
        z-index: 100;
    }
</style>

<div id="alert-container">
    {% for message in messages %}
    <div class="alert {{ message.tags }} alert-dismissible fade show mt-2 mb-0" role="alert">
        <button type="button" class="btn-close alert-button" data-bs-dismiss="alert" aria-label="Close">
        </button>
        {{ message }}
    </div>
    {% endfor %}
</div>

<script>
    const alertButtons = document.getElementsByClassName("alert-button");  // Return an array
    setTimeout(function () {
        for (let i = 0; i < alertButtons.length; ++i) {
            alertButtons[i].click()
        }
    }, 3000);
</script>