{% load static %}

{% block css_content %}
<link rel="stylesheet" href="{% static 'setter/css/messages.css' %}">
{% endblock css_content %}

<div id="message-container">
    {% for message in messages %}
    {% if message.tags != 'alert-undo' %}
    <div class="alert {{ message.tags }} alert-dismissible fade show mt-2 mb-0" role="alert">
        <button type="button" class="btn-close mssg-close-button" data-bs-dismiss="alert" aria-label="Close">
        </button>
        {{ message }}
    </div>
    {% endif %}
    {% endfor %}
</div>

{% for message in messages %}
{% if message.tags == 'alert-undo' %}
<a href="{% url 'setter:restore-assignment' %}">
    <div class="undo-container">
        <div id="undo-assg-div" class="alert alert-dark alert-dismissible undo-assg-alert fade show mt-2 mb-0"
            role="alert">
            <button type="button" class="btn-close" id="undo-assg-close-button" data-bs-dismiss="alert"
                aria-label="Close">
            </button>
            {{ message }}
        </div>
        <div class="progress" id="undo-assg-progress-div">
            <div class="progress-bar" id="undo-assg-progressbar" role="progressbar"></div>
        </div>
    </div>
</a>
{% endif %}
{% endfor %}

{% block js_content %}
<script src="{% static 'setter/js/messages.js' %}"></script>
{% endblock js_content %}