<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container-fluid pe-3 ps-3">
        <a class="navbar-brand h1" href="#">j o n a t h a n v e v a n c e</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
                <a class="nav-link {% if nbar_link == 'dashboard' %}active{% endif %}"
                    href="{% url 'setter:dashboard' %}">Dashboard</a>
                <a class="nav-link {% if nbar_link == 'assignments' %}active{% endif %}"
                    href="{% url 'setter:assignments' %}">Assignments</a>
                <a class="nav-link {% if nbar_link == 'submissions' %}active{% endif %}" href="#">Submissions</a>
                <a class="nav-link {% if nbar_link == 'grade_report' %}active{% endif %}" href="#">Grade Report</a>
            </div>
        </div>
    </div>
</nav>