{% extends 'setter/base.html' %}
{% load static %}

{% block css_content %}
<link rel="stylesheet" href="{% static 'setter/css/question.css' %}">
{% endblock css_content %}

{% block content %}

<!-- Messages -->
{% include 'setter/messages.html' %}

<div class="container mt-5">
    <div class="form-group">
        <form method="POST" action="#">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            <a href="javascript:history.go(-1)" class="btn btn-danger me-1">Cancel</a>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
</div>

{% endblock content %}