::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
}

/* Empty messages */
#empty-messages {
    width: 40%;
    margin: 20% auto;
    border: 3px dashed #777;
    border-radius: 10px;
}

#empty-messages p {
    margin: 10px 0;
}

/* Sidebar */
.hover-outline:hover {
    outline: 2px solid rgba(255, 255, 255, 0.6);
    outline-offset: -5px;
}

.hover-glow:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.active-glow {
    background-color: rgba(255, 255, 255, 0.08);
}

.active-glow:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

.active-border {
    background:
        linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)) top/ 95% 2px no-repeat,
        linear-gradient(rgba(255, 255, 255, 0.6),rgba(255, 255, 255, 0.6)) bottom/ 95% 2px no-repeat,
        #212529;
}

#sidebar {
    position: absolute;
    top: 55px;
    bottom: 120px; /* space for buttons */
    left: 0;
    width: 20%;
    overflow-y: scroll;
}

#sidebar-buttons {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 120px; /* set this same as #sidebar: bottom */
    padding-top: 20px;
    text-align: center;
}

/* Quesions */
#questions {
    position: absolute;
    top: 55px;
    bottom: 0px;
    right: 0;
    overflow-y: scroll;
    width: 80%;
}

.question-link {
    font-size: 90%;
    font-weight: 400;
    float: right;
    margin-right: 15px;
    text-decoration: none;
}

#sidebar-buttons a {
    text-align: center;
    width: 99%;
    margin-bottom: 10px;
}

.float-btn-plus{
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 50px;
	right: 40px;
	border-radius: 50px;
	text-align: center;
    font-size: 60px;
    transition: all 0.1s;
}

.float-btn-plus:focus {
    box-shadow: none;
}

.float-btn-plus i {
    color: #007bff; /* bootstrap primary */
}

.float-btn-plus:hover {
	transform: scale(1.05);
}

/* pill button */
.float-btn-pill{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 15px 20px;
    border-radius: 50px;
    text-align: center;
    transition: all 0.1s;
}

.float-btn-pill:focus {
    box-shadow: none;
}

.float-btn-pill:hover {
    transform: scale(1.05);
}

/* https://codepen.io/pafnuty/pen/XWJRgbJ */
/* Line breaking from flex container */
.break {
    flex-basis: 100%;
    height: 0;
    width: 100%;
    overflow: hidden;
}
